@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 213 36% 97%;
  --foreground: 220 40% 11%;
  --card: 0 0% 100%;
  --primary: 215 82% 36%;
  --muted: 214 24% 90%;
  --accent: 171 58% 38%;
  --border: 214 25% 82%;
}

body {
  @apply bg-background text-foreground antialiased;
}

